<!doctype html>
<html lang="en">
{include file="./public/head_top" /}
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    {include file="./public/menu" /}
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content" id="new">
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始-->
                <legend><a name="default">系统日志</a></legend>
            </fieldset>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>操作</th>
                    <th>IP</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>
                {volist name='lists' id='vo'}
                <tr>
                    <td>{$vo.username}</td>
                    <td>{$vo.c}/{$vo.a}{$vo.querystring}</td>
                    <td>{:long2ip($vo.ip)}</td>
                    <td>{:date('Y-m-d H:i:s',$vo['time'])}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
            
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部结束 -->
</body>
</html>