<head>
<meta charset="UTF-8">
<title>秒杀系统后台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/xadmin/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/static/xadmin/css/font.css">
<link rel="stylesheet" href="/static/xadmin/css/xadmin.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script src="/static/xadmin/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.js"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="/index/index">秒杀系统后台</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
    </ul>
</div>
<!-- 顶部结束 -->